*.ninja
compile_commands.json
meson-info
meson-logs
meson-private
meson-uninstalled
*.p
.ninja_deps
.ninja_log
*.so*
*.a*
*.pc
*.vapi
build.vala
*.vapi
!vapi/*.vapi
*.service
systemrt-*.h
!src/**/*.ini