*.ninja
compile_commands.json
meson-info
meson-logs
meson-private
meson-uninstalled
*.p
.ninja_deps
.ninja_log
*.so*
*.a*
*.pc
systemrtd
systemrt.h
systemrt.vapi
build.vala
*.conf
!data/**/*.conf
*.vapi
*.service